{% extends 'index.html' %}
{%load staticfiles%}
{%block content_goods%}
        
{% for goods_t in goods %}
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 text-center" style="heigh: 700px">
    <a href="/item/{{goods_t.id}}/">
    <img src="{{goods_t.image}}" alt="" width="100" > <br>
    <span class="title">{{goods_t.name}}</span></a><br>
    <span class="price" >{{goods_t.price}} </span>руб <br>
    <a href="/cart/add/{{goods_t.id}}/"  class="btn btn-info">Купить</a><br>
    <br>
</div>
{% endfor %}
{%endblock%}