<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html;charset=UTF-8">
    <title>Catalog</title>
</head>
<body>

    <div class="wrapper">
        <div class="header"><h1>{{title}}</h1></div>
        <div class="body">
            <ul>
                {% for category in categories %}
                <li><a href="/{{category.alias}}/">{{category.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

</body>
</html>