{%load staticfiles%}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
    <title>{{title}}</title>
  </head>
  <body>
    <div class="wrapper">
        <div class="header"><h1>{%if category_item.name %}
                                                    {{category_item.name}}
                                                    {%else%}
                                                     Главная
                                                     {%endif%}</h1></div>
        <div class="body">
            <div class="left">
                <ul>
                    <li><a href="/">Главная</a></li>
                    {% for categories in category %}
                    <li><a href="/{{categories.alias}}/">{{categories.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="main">
                {% for goods_t in goods %}
                <a class="item" href="/item/{{goods_t.alias}}/">
                    <img src="{{goods_t.image}}" alt="">
                    <span class="title">{{goods_t.name}}</span>
                    <span class="price">{{goods_t.price}} руб</span>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
  </body>
</html>