{% extends 'index.html' %}
{%load staticfiles%}
{%block content_items%}
<div class="item1" >
    <img class="img-thumbnail" src="{{goods.image}}" alt="" width="300"><br>
    <p class="alert-dismissable">{{goods.text}}</p><br>
    <p>{{goods.date}}</p><br>
    <p>{{goods.visible}}</p><br>
    <span class="price">{{ goods.price }} руб.</span><br><br>
    
        <form action="/cart/add/{{goods.id}}/" method="post">
        {% csrf_token %}
        {{ cart_product_form }}<br><br>
        <input class="btn btn-info" type="submit" value="Добавить в корзину">
    </form>
</div>
{%endblock%}