{% load staticfiles%}
<!DOCTYPE html>
<html lang="ru">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{%static 'bootstrap-3.2.0-dist/css/bootstrap.css'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'bootstrap-3.2.0-dist/css/bootstrap.min.css'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'bootstrap-3.2.0-dist/css/bootstrap-theme.min.css'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
        <script src="{% static 'bootstrap-3.2.0-dist/js/bootstrap.min.js'%}"></script>
        <title>{%if category_item.name %}
                    {{category_item.name}}
                {%else%}
                    Главная
                 {%endif%}
         </title>
  </head>
  <body>
    <div class="container-fluid" >
            <div class="row-fluid ">
                <div class="col-xs-12">
                     <div class="row-fluid ">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
                            
                                <div class="nav navbar-header"><a href="/" class="navbar-brand"><samp><h2>Beer shop</h2></samp></a></div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            <ul class="nav navbar-default  list-group ">
                                <li><a href="/" class="list-group-item-info ">Главная</a></li>
                                {% for categories in category %}
                                    <li><a href="/{{categories.id}}/">{{categories.name}}</a></li>
                                {% endfor %}
                            </ul>
                            <br>
                            <ul class="nav navbar-default  list-group ">
                                <li><a href="/cart/" class="list-group-item-info">Корзина</a></li>
                            </ul>
                            <br>
                            <ul class="nav navbar-default list-group ">
                                {% if username %}
                                    <li><a href="/auth/logout/" class="list-group-item-info ">Выйти ({{username}})</a></li>
                                {% else %}
                                    <li><a href="/auth/login/" class="list-group-item-info ">Войти</a></li>
                                    <li><a href="/auth/register/" class="list-group-item-info">Регистрация</a></li>
                                {% endif %}
                                    
                            </ul> 
                                <br>
                        </div>
                        <div class="row-fluid info">
                            <div class="row-fluid navbar col-xs-12 col-sm-10  col-md-10 col-lg-10 bg-info"  >
                                <div class="navbar col-xs-12 col-sm-8  col-md-8 col-lg-8"><h1>{%if category_item.name %}
                                                                {{category_item.name}}
                                                            {%else%}
                                                                Главная
                                                             {%endif%}</h1>
                                </div>
                                 <div class="col-xs-8 col-sm-2 col-md-2 col-lg-2"  >
                                    <br>
                                    <div class="cart">
                                        {% with total_items=cart|length %}
                                            {% if cart|length > 0 %}
                                                Ваша корзина:
                                                <a href="{% url 'cart:CartDetail' %}">
                                                    {{ total_items }} тов. {{ cart.get_total_price }} руб.
                                                </a>
                                             {% else %}
                                                  <p>Корзина пустая<p>
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                    <ul class="nav nav-right ">
                                        {% if username %}
                                            <li><a href="/auth/logout/" class="badge list-group-item-info navar-panel">Выйти ({{username}})</a></li>
                                        {% else %}
                                            <li><a href="/auth/login/" class="badge list-group-item-info ">Войти</a></li>
                                        {% endif %}
                                    </ul>
                                    
                                </div>   
                            </div>
                            </div>
                            </div>
                        
                             <div class="col-xs-12 col-sm-10 col-md-9 col-lg-10">
                                

                                    {%block content_goods%}{%endblock%}
                                    {%block content_items%}{%endblock%}
                                    {%block content%}{%endblock%}
                                    {%block login%}{%endblock%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>