{% extends 'index.html' %}
{%load staticfiles%}
{%block left_sidebar%}
<ul>
    <li><a href="/">Главная</a></li>
    {% for categories in category %}
    <li><a href="/{{categories.alias}}/">{{categories.name}}</a></li>
    {% endfor %}
</ul>
{%endblock%}