{% extends 'index.html'%}
{% load staticfiles %}
{%block login%}
<div class="row-fluid text-justify">
    <form action="/auth/login/" method="post">
        {%csrf_token%}
        <div class="form-group">
            <label for="username">Имя поьзователя:</label>
            <input type="text" class="form-control"  name="username" id="username">
            <label for="password">Пароль пользователя:</label>
            <input type="password"  class="form-control"name="password" id="password">
            {% if login_error %}
                <label class="error">{{ login_error }}</label>
            {% endif %}
            <br>
            <input class="btn btn-info" class="form-control" type="submit" value="Войти">
            <a class="btn btn-info" href="/auth/register/">Регистрация</a>
        </div>
    </form>
</div>
{%endblock%}