{% extends 'index.html'%}
{% load staticfiles %}
{%block login%}
<div class="item1" >
    <form action="/auth/register/" method="post" role="form" class="form-inline">
        <div class="form-group">
            {%csrf_token%}
            {{form}}
            <br>
            <br>
            <input class="btn btn-info" type="submit" value="Зарегистрироваться" class="form-control">
        </div>
    </form>
</div>
{%endblock%}