{% extends "index.html" %}

{% block title %}
  Ваша корзина товаров
{% endblock %}

{% block content_items %}
<div class='row'>
  <h1>Ваша корзина товаров</h1>
  <table class="table table-striped table-hover ">
    <thead>
      <tr class="info">
        <th>Изображение</th>
        <th>Продукт</th>
        <th>Количество</th>
        <th>Удалить</th>
        <th>Полная цена</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="/item/{{ product.id }}/">
                <img src="{{ product.image }}" width="40px" alt="" />
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td><form action="{% url "cart:CartAdd" product.id %}" method="post" class="add" class="form">
    {{ item.update_quantity_form.quantity }}
    {{ item.update_quantity_form.update }}
    {% csrf_token %}
    <input class="btn btn-info" type="submit" value="Обновить">
</form></td>
            <td><a href="{% url 'cart:CartRemove' product.id %}" class="btn btn-info">Удалить</a></td>
            <td class="num">{{ item.price }} руб.</td>
            <td class="num">{{ item.total_price }} руб.</td>
          </tr>
        {% endwith %}
      {% endfor %}
        <tr class="info warning">
          <td>Итог</td>
          <td colspan="4"></td>
          <td class="num">{{ cart.get_total_price }} руб.</td>
        </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="/" class="btn btn-info">Продолжить Шопинг</a>
    <a href="/order/create/" class="btn btn-info">Оформить заказ</a>
  </p>
  </div>
{% endblock %}