{% extends "index.html" %}

{% load static %}



{% block content %}
  <h1>Заказ {{ order.id }}</h1>
  <ul >
    <li>
      <a href="#" onclick="window.print()">Распечатать заказ</a>
    </li>
  </ul>
  <table width="100%" class="table table-striped table-hover">
    <tr>
      <th>Создан</th>
      <td>{{ order.created }}</td>
    </tr>
    <tr>
      <th>Заказчик</th>
      <td>{{ order.first_name }} {{ order.last_name }}</td>
    </tr>
    <tr>
      <th>E-mail</th>
      <td><a href='mailto:{{ order.email }}'>{{ order.email }}</a></td>
    </tr>
    <tr>
      <th>Город</th>
      <td>{{ order.city }}</td>
    </tr>
    <tr>
      <th>Индекс</th>
      <td>{{ order.index }}</td>
    </tr>
    <tr>
      <th>Примечание</th>
      <td>{{ order.prim }}</td>
    </tr>
    <tr>
      <th>Полная стоймость</th>
      <td>{{ order.get_total_cost }} руб.</td>
    </tr>
    <tr>
      <th>Статус</th>
      <td>{% if order.paid %}Оплачен{% else %}В ожидании оплаты{% endif %}</td>
    </tr>
  </table>

  <div class="module">
    <div class="tabular inline-related list-related">
      <table class="table table-striped table-hover">
        <h2>Заказанные товары</h2>
        <thead>
          <tr class="info">
            <th>Товар</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Стоймость всего</th>
          </tr>
        </thead>
        <tbody >
          {% for item in order.order_items.all %}
            <tr >
              <td>{{ item.goods_id.name }}</td>
              <td>{{ item.price }} руб.</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.get_cost }} руб.</td>
            </tr>
          {% endfor %}
          <tr class="warning">
            <td colspan="3">Всего</td>
            <td class="num">{{ order.get_total_cost }} руб.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}