.wrapper{
        width: 1000px;
        margin: 0 auto;
    }
    .wrapper .header{
        width: 100%;
        height: 40px;
        background: #eee;
    }
    .wrapper .body{
        width: 100%;
        min-height: 600px;
        background: #ccc;
        font-size: 0;
    }
    .wrapper .body .item{
        width: 600px;
        min-height: 300px;
        margin: 0 auto;
        background: #eee;
    }
    .wrapper .body .item2 {
        display: inline-block;
        vertical-align: top;
        margin:10px;
        background: red;
        width: 80px;
        min-height: 100px;
        font-size: 14px;
        text-decoration: none;
        }
    .wrapper .body .item2  img{
        align: center;
        margin: auto;
        display: block;
        width: 70px;
        height: auto;
    }    
    .wrapper .body .item1{
        width: auto;
        min-height: 300px;
        margin: 0 auto;
        padding: 10px;
        background: #eee;
        font-size: 14px;
    }
    .wrapper .body .item1  img{
        display: block;
        width:300px;
        height: auto;
    }
    .wrapper .body .item .price{
        margin-top: 5px;
        display: block;
        font-size: 14px;
        color:#000;
    }
    .wrapper .body .item  img{
        display: block;
        width:200px;
        height: auto;
    }
    .wrapper .body .item .buy{
        margin-top: 5px;
        display: block;
        font-size: 14px;
        color:#000;
    }
    .wrapper .body .item p{
        margin-top: 5px;
        display: block;
        font-size: 14px;
        color:#000;
    }
    .wrapper .body .item .full{
        max-width: 600px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
.wrapper{
        width: 1000px;
        margin: 0 auto;
    }
    .wrapper .header{
        width: 100%;
        height: 40px;
        background: #eee;
    }
    .wrapper .body{
        width: 100%;
        min-height: 600px;
        background: #ccc;
        font-size: 0;
    }
    .wrapper .body .left{
        width:300px;
        min-height: 600px;
        background: yellow;
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
    }
    .wrapper .body .main{
        width:660px;
        margin-left: 40px;
        min-height: 600px;
        background: green;
        display: inline-block;
        vertical-align: top;
        font-size: 0;
    }
    .wrapper .body .main .item{
        display: inline-block;
        vertical-align: top;
        margin:10px;
        background: red;
        width: 80px;
        min-height: 100px;
        text-decoration: none;
    }
    .wrapper .body .main .item img{
        display: block;
        width:80px;
        height: auto;
    }
    .wrapper .body .main .item span{
        
        color:#fff;
    }
    .wrapper .body .main .item .title{
        font-size: 14px;
        display: block;
        margin-top: 5px;
    }
    .wrapper .body .main .item .price{
        font-size: 14px;
        display: block;
        margin-top: 5px;
    }